@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Sniglet:wght@400&display=swap');

/**************************REMOVE ANY DRY CODE LATER*********************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sniglet", sans-serif;
}
/* HEADING START */
li, a, button, h1 {
  font-weight: 500;
  font-size: 1.1em;
  color: #edf0f1;
  text-decoration: none;
}

.heading {
  display: flex;
  justify-content: flex-end;
  align-items:center;
  padding: 30px 5%;
  background-color: #FD8CA8;
}

h1 {
  font-size: 35px;
}

.App {
  width: 100%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  display: flex;
  align-items: center;
  color: white;
}

.logo h1 {
  margin: 0;
}


.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
}

.discordbutton{
  background-color: purple; 
}

button:hover {
  background-color: rgba(0,136,169,0.8);
}

img {
  width: 75px;
}
/* HEADING DONE */

/* HOMEPAGE BODY START */
.homepage-top {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #A8D0E6;
}

.welcome {
  width: 50%;
}

.homepage-top h1, h3 {
  margin-top: 100px;
  color: black;
  text-align: center;
}


#nook{
  width: 200px;
}

/***********************************************************************/
/**************************NEW SECTION**********************************/
/***********************************************************************/

ul {
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #A8D0E6;
}

.box {
  margin: 100px;
  padding: 10px;
  background-color: #F8E9A1;
  border-radius: 10px;
}

.box h2 {
   margin-bottom: 50px;
   color: black;
   font-size: 1.7em;
}

.box li {
    margin: 10px;
    text-align: left;
    margin-left: 0;
    color: black;
    font-size: 1.2em;
    margin-top: 25px;
}

span {
  font-size: 1.2em;
  margin-right: 15px;
}

.box h3 {
  color: black;
  margin-top: 50px;
  text-align: center;
}

.box a {
  color: black;
  text-decoration: underline;
}


/***********************************************************************/
/***********************************************************************/
/**************************SIGNUP/LOGIN START*********************************/
/***********************************************************************/
/***********************************************************************/


.SignUp {
  text-align: center;
}

.SignUp h1{
  font-size: 3em;
  margin: 0 auto;
  margin-top: 30px;
  width: 500px;
  color: #F90;
  text-align: center;
}

.form {
  height: 100%;
  background-color: #98d4f3;
  position: relative;
}

form {
  margin: 0 auto;
  padding-top: 50px;
  color: white;
  position: relative;
  padding-bottom: 80px;
}

form div {
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: left;
}


input, textarea {
  width: 500px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-size: 1em;
  color: #676767;
  margin-top: 10px;
}

input:focus, textarea:focus {
  border: solid 3px #77bde0;
}

textarea {
  height: 100px;
  resize: none;
  overflow: auto;
}

button {
  background-color: #F90;
  color: white;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 1.29em;
  border-radius: 20px;
  width: 100%;
  margin: 0;
}

label {
  font-size: 1.5em;
  padding-left: 20px;
}

button:hover {
  background-color: #e58f0e;
}

form p {
  margin-top: 50px;
  font-size: 1.3em;
  text-align: center;
  color: red;
}

/***********************************************************************/
/**************************SIGNUP/LOGIN END*********************************/
/***********************************************************************/
